@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

html {
  max-width: 1026px;
  margin-inline: auto;
}

main {
  font-family: "Lexend";
  font-style: normal;
}

header {
  display: flex;
  position: relative;
  z-index: 100;
  justify-content: space-between;
  padding-inline: 1rem;
  padding-block: 1.5rem;
  img {
    width: 200px;
  }
}

.drawermanu {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-inline-end: 1rem;
  /* padding-block: 0.4rem; */
}

.span01 {
  display: block;
  position: absolute;
  width: 20px;
  height: 4px;
  background-color: #000000;
  rotate: 90deg;
  top: 21px;
  right: 16px;
  transition: 0.2s;
}

.span01open {
  display: block;
  position: absolute;
  width: 20px;
  height: 4px;
  background-color: #000000;
  rotate: 45deg;
  top: 21px;
  right: 16px;
  transition: 0.2s;
}
.span02 {
  display: block;
  position: absolute;
  width: 20px;
  height: 4px;
  background-color: #000000;
  top: 21px;
  right: 16px;
  transition: 0.2s;
}
.span02open {
  rotate: -45deg;
  display: block;
  position: absolute;
  width: 20px;
  height: 4px;
  background-color: #000000;
  top: 21px;
  right: 16px;
  transition: 0.2s;
}

.menu {
  font-family: "Lexend";
  font-size: 12px;
  position: absolute;
  top: 35px;
  right: 8px;
  font-weight: 500;
}

.menuopen {
  font-family: "Lexend";
  font-size: 12px;
  position: absolute;
  top: 35px;
  right: 8px;
  font-weight: 500;
}

.menulist {
  position: absolute;
  top: -550%;
  left: 0;
  margin-inline: auto;
  margin-block-start: 2.5rem;
  padding-block: 4rem;
  justify-content: center;
  align-items: center;
  z-index: 15;
  display: flex;
  flex-direction: column;
  gap: 40px;
  list-style: none;
  font-family: "Lexend";
  font-size: 15px;
  background-color: rgba(255, 255, 255, 0.851);
  width: 100%;
  transition: 0.4s;
}

.menulisto {
  margin-inline: auto;
  margin-block-start: 2.5rem;
  padding-block: 4rem;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 15;
  display: flex;
  flex-direction: column;
  gap: 40px;
  list-style: none;
  font-family: "Lexend";
  font-size: 15px;
  background-color: rgba(255, 255, 255, 0.851);
  width: 100%;
  transition: 0.4s;
  left: 0;
}

.firstview {
  position: relative;

  img {
    width: 100%;

    @media (width > 700px) {
      aspect-ratio: 2/1;
      object-fit: cover;
    }

    @media (width > 800px) {
      aspect-ratio: 3/2;
      object-fit: cover;
    }
  }

  h1 {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Lexend", sans-serif;
    font-size: 20px;
    letter-spacing: -12%;
    font-weight: bold;
    font-style: normal;
    background-color: #cd3796;
    padding: 10px;
  }
}

.listwrap {
  dl {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    margin-inline: auto;
    /* max-width: 360px; */

    .postimg {
      width: 100%;
      min-width: 320px;
      max-width: 360px;
      aspect-ratio: 4/3;
      border-radius: 4px;

      @media (width > 750px) {
        max-width: 320px;
      }
    }

    .text_wrap {
      display: flex;
      justify-content: space-between;
      margin-block-end: 1rem;
    }

    .textbox {
      display: flex;
      flex-direction: column;
      gap: 9px;
    }

    .likebadbox {
      display: flex;
      gap: 1rem;

      .likeButton {
        display: flex;
      }
      .badButton {
        display: flex;
      }
    }
  }
}

.modalButton,
.submitbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  color: white;
  margin-block: 2rem;
  margin-inline: auto;
}

.submitbtn {
  align-items: stretch;
  width: 100%;
}

.feedback {
  margin-inline: 1rem;
}

.modalOverlay {
  width: 100%;
  min-height: 100vh;
  overflow: scroll;
  display: flex;
  position: fixed;
  z-index: 10;
  inset: 0;

  justify-content: center;
  align-items: center;
  background-color: #0000007d;
}

.modalContent {
  background-color: white;
  position: relative;
  top: 180px;
  margin: 1rem;
  max-width: 468px;
  margin-block: 5rem;

  border: 1px black solid;

  h2 {
    text-align: center;
    padding-block: 1rem;
  }

  .formtext {
    padding-inline: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  form {
    margin-block-end: 1rem;
  }

  img {
    height: 116px;
    object-fit: cover;
    width: 100%;
  }

  .closeButton {
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    right: 5px;
    img {
      width: 20px;
      height: 20px;
    }
  }
}

footer {
  background: linear-gradient(#2d0000 0%, #000000 100%);
  max-width: 100vw;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    color: #cd3796;
    font-size: 20px;
    font-family: "Lexend", sans-serif;
    font-weight: bold;
  }
}
